/*google fonts
font-family: 'Atkinson Hyperlegible', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

/*color*/
:root{
    --gray: #f2f2f2;
    --red: #ff5555;
}

body{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    letter-spacing: 0.5px;
    background-color: black;
    color: var(--gray);
}

h1, h4{ font-weight: bolder; }
h1{color:white;}
hr{
    height: 2px;
    color: var(--red);
    margin: 0;
    padding: 0;
}
span{
    color: var(--red);
}
.btn{
    color: var(--red);
    font-weight: bolder;
    border-radius: 1px;
    letter-spacing: 1px;
    border: 1px solid var(--red);
}
.btn:hover{
    background-color: var(--red);
    color: black;
}
.cp{
    color: gray;
}
.ico{
    padding-right: 15px;
}
.part{margin: 8em 0;}