{% extends 'base.html' %}
{% block title %}Admin{% endblock %}
{% block content %}
<div class="p-5 container">
    <div class="row">
        <div class="col-md-7 py-3">
            <h1>Admin Login</h1>
            <h4>Welcome to <a href="{{ url_for('main.index') }}"><strong>Tech Diaries</strong></a></h4>
            <hr>
            <p>What can admin do:
            <ul>
                <li>Create blog post</li>
                <li>Reply comments</li>
                <li>Get SEO for blog post</li>
            </ul>
            </p>
        </div>
        <div class="col-md-5">
            <div class="card py-5 p-2">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.login_form_id(class='m-2 p-2 form-input', type='text', placeholder='Admin Id') }}
                    {{ form.login_form_pass(class='m-2 p-2 form-input', type='password', placeholder='Password') }}
                    <br>
                    {{ form.login_form_submit(class='m-2 TD_btn') }}
                </form>
            </div>
            <p class="p-2"><a href=""><strong>Contact us</strong></a> to become an Author</p>
        </div>
    </div>
</div>
{% endblock %}