{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<!-- section1 -->
<section class="section1">
    <div class="container">
        <div class="row">
            <!-- 1st carousel -->
            <div class="col-md-8 col-sm-6">
                <a href="#">
                    <div class="card">
                        <img class="carousel-1 card-img" src="{{ url_for('static', filename='res/about1.png') }}" alt="">
                        <div class="card-img-overlay">
                            <span class="card-title carousel-title">Card title blog title</span><br>
                            <span class="card-text carousel-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</span>
                        </div>
                    </div>
                </a>
            </div>

            <!-- 2nd 3rd carousel -->
            <div class="col-md-4 col-sm-6">
                <a href="">
                    <div class="card">
                        <img class="carousel-23" src="{{ url_for('static', filename='res/about1.png') }}" class="card-img" alt="">
                        <div class="card-img-overlay">
                            <span class="card-title carousel-title">Card title</span><br>
                            <span class="card-text carousel-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</span>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="card">
                        <img class="carousel-23" src="{{ url_for('static', filename='res/demo.png') }}" class="card-img" alt="">
                        <div class="card-img-overlay">
                            <span class="card-title carousel-title">Card title</span><br>
                            <span class="card-text carousel-text">This is a wider card with supporting text below as a natural lead bit longer.</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- section2 -->
<section class="section2">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 align-items-stretch">
                <h4>Featured post</h4>
                <hr>

                <a href="">
                    <article>
                        <div class="card">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-4">
                                    <img class="img-fluid card-image" src="" alt="">
                                </div>
                                <div class="col-md-8 col-sm-8 col-8">
                                    <div class="card-body">
                                        <h4 class="c-red">this is title</h4>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt enim magnam temporibus odit. Nobis, hic?Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, repudiandae.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </a>

                <div>
                    <button>Find more</button><br><br>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div>
                    <a href=""><img class="twitter_logo px-3" height="30px"
                            src="{{ url_for('static', filename='res/twitter_logo_white.svg') }}" alt=""></a>
                    <a href=""><img class="linkedin_logo px-3" height="30px"
                            src="{{ url_for('static', filename='res/linkedin_logo_white.svg') }}" alt=""></a>
                    <a href=""><img class="reddit_logo px-3" height="30px"
                            src="{{ url_for('static', filename='res/reddit_logo_white.svg') }}" alt=""></a>
                </div>
                <div class="py-3">
                    <h4>Popular tags</h4>
                    <hr>
                    <a href=""><span class="badge">badge</span></a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}