{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="p-5 container">
    <div class="row">
        <div class="col-md-7 py-3">
            <h1>User Login</h1>
            <h4>Welcome to <a href="{{ url_for('main.index') }}"><strong>Tech Diaries</strong></a></h4>
            <hr>
            <p>Create account and get those benifites:
            <ul>
                <li>Comment on post</li>
                <li>Get email notification</li>
                <li>Get chance to become Author</li>
            </ul>
            </p>
        </div>
        <div class="col-md-5">
            <div class="card py-5 p-2">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.login_form_email(class='m-2 p-2', type='email', placeholder='Email') }}
                    {{ form.login_form_pass(class='m-2 p-2', type='password', placeholder='password') }}
                    <br>
                    {{ form.login_form_submit(class='m-2 TD_btn') }}
                </form>
            </div>
            <p class="p-2"><a href="{{ url_for('main.registration') }}">Create account</a></p>
        </div>
    </div>
</div>
{% endblock %}