{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<section class="p-3 container">
    <div class="row">
        <div class="post col-md-8 col-sm-12">
            <div>
                <h1>TD Blog title goes here</h1>
                <p class="post-auth-info">12.jul.2021 | 12:12 pm | suvasish das</p>
                <div>
                    <a href=""><img class="twitter_logo px-3" height="30px"
                            src="{{ url_for('static', filename='res/twitter_logo_white.svg') }}" alt=""></a>
                    <a href=""><img class="linkedin_logo px-3" height="30px"
                            src="{{ url_for('static', filename='res/linkedin_logo_white.svg') }}" alt=""></a>
                    <a href=""><img class="reddit_logo px-3" height="30px"
                            src="{{ url_for('static', filename='res/reddit_logo_white.svg') }}" alt=""></a>
                </div>
                <hr>
                <img class="img-fluid post-image" src="./res/demo.png" alt="...">
                <div class="p-2 py-5">

                </div>
            </div>
            <hr>
            <div>
                <h4>Tags:</h4>
                <span class="badge">badge</span>
            </div>
            <hr>
            <div>
                <h4>Comments:</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div align="center" class="card">
                <div class="card-body">
                    <img class="user-profile rounded-circle" src="" alt="">
                    <h4>Lorem, ipsum.</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, eveniet!</p>
                </div>
            </div>
            <a href="">
                <article>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-4">
                                <img class="img-fluid card-image" src="" alt="">
                            </div>
                            <div class="col-md-8 col-sm-8 col-8">
                                <div class="card-body">
                                    <h4 class="c-red">this is title</h4>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt enim
                                        magnam temporibus odit. Nobis, hic?Lorem ipsum dolor sit, amet
                                        consectetur adipisicing elit. At, repudiandae.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </a>

            <div align="right"><a href=""><button>find more</button></a></div>
        </div>
    </div>
</section>
{% endblock %}